<section class="section">
    <div class="columns is-fullheight">
        <div class="column is-one-fifth" id="side-menu">
          <nav class="menu">
            <p class="menu-label">
              Dashboard
            </p>
            <ul class="menu-list">
              <li>
                <span class="icon">
                  <i class="fas fa-user"></i>
                </span>
                Profile
                </li>
              <li>
                <span class="icon">
                  <i class="fab fa-leanpub"></i>
                </span>
                Mentorship
                </li>
              <li>
                <span class="icon">
                  <i class="fas fa-comment-dots"></i>
                </span>
                Chat
              </li>
            </ul>
          </nav>
        </div>
              <div class="column" id="main-content"></div>


    </div>
</section>