<% include partials/head %>

<body class="layout-default">
      
  <% include partials/nav %>

  <% include partials/flashmsg %>

  <%- body %>    

  <% include partials/footer %>

  <% include partials/scripts %>

</body>
</html>