<section class="section">
  <div class="hero is-small">
    <div class="container">
      <div class="hero-body is-paddingless">
        <h1 class="title is-size-1 is-size-2-touch">
          Mentorships
        </h1>
        <h2 class="subtitle">
          Become a partner in a one on one mentorship program
        </h2>
        <img alt="Mentorship Program Overview" class="image" height="560" src="images/overview.svg" width="720">
      </div>

    </div>
  </div>
</section>
<section class="section">
  <div class="hero is-small">
    <div class="container">
      <div class="hero-body is-paddingless">
        <h1 class="title is-size-1 is-size-2-touch">
          Mentor
        </h1>
        <h2 class="subtitle">
          Tailor your lead position skills while guiding a mentee up the ladder
        </h2>
        <img alt="Mentor" class="image" height="560" src="images/mentor.svg" width="720">
      </div>

    </div>
  </div>
</section>
<section class="section">
  <div class="hero is-small">
    <div class="container">
      <div class="hero-body is-paddingless">
        <h1 class="title is-size-1 is-size-2-touch">
          Mentee
        </h1>
        <h2 class="subtitle">
          Take time to craft your skillset while learning from someone with real world experience
        </h2>
        <div class="container">
          <img alt="Mentee" class="image" height="560" src="images/mentee.svg" width="720">

        </div>
      </div>

    </div>
  </div>
</section>